:root {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  --el-color-primary: green;
}

html,
body {
  margin: 0px;
  height: 100%;
}

.el-input__wrapper {
  background-color: transparent;
  box-shadow: none;
}

.el-input:hover{
  background-color: white;
}

.surveyName{
  height: 60px;
  font-size: 30px;
  font-weight: bolder;
  border-style: none;
}

.surveyDesc{
    height: 60px;
}

.el-input__count-inner{
  background-color: transparent !important;
}

.el-notification{
  cursor: pointer;
}

.el-notification__content{
  text-align: initial;
}
